body{
    font-family: inherit;
    background: rgb(249, 152, 152);
}
.animation-box{
    width: 75%;
    height: 27.5rem;
    margin: 0 auto;
    position: relative;
}
.first-text{
    font-size: 3.0rem;
    color: rgb(27, 6, 98);
    position: absolute;
    left: 2.5rem;
    top: 5rem;
    opacity: 0;
    animation-name: silentknight1;
    animation-duration: 18s;
}
.second-text{
    font-size: 3.0rem;
    color: rgb(27, 6, 98);
    position: absolute;
    left: 2.5rem;
    top: 5rem;
    opacity: 0;
    animation-name: silentknight2;
    animation-duration:  40s;
    animation-delay: 18s;
}
.third-text{
    font-size:  3.0rem;
    color: rgb(27, 6, 98);
    position: absolute;
    left: 2.5rem;
    top: 5rem;
    opacity: 0;
    animation-name: silentknight3;
    animation-duration: 37s;
    animation-delay: 57s;
}
.fourth-text{
    font-size:  3.0rem;
    color: rgb(27, 6, 98);
    position: absolute;
    left: 2.5rem;
    top: 5rem;
    opacity: 0;
    animation-name: silentknight3;
    animation-duration: 10s;
    animation-delay: 94s;
}

@keyframes silentknight1{
    0%{
        opacity: 1;
}
    75%{
        opacity: 1;
}
    100%{
        opacity: 0;
}
}
@keyframes silentknight2{
    0%{
        opacity: 1;
}
    75%{
        opacity: 1;
}
    100%{
        opacity: 0;
}
}
@keyframes silentknight3{
    0%{
        opacity: 1;
}
    75%{
        opacity: 1;
}
    100%{
        opacity: 1;
}
}

@keyframes silentknight4{
    0%{
        opacity: 1;
}
    75%{
        opacity: 1;
}
    100%{
        opacity: 1;
}
}